include README.rst
include CHANGES.rst
include LICENSE.rst
include CITATION.md

include ah_bootstrap.py
include setup.cfg
include synphot/include/.gitignore

recursive-include *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *

prune build
prune docs/_build
prune docs/api

recursive-include astropy_helpers *
exclude astropy_helpers/.git
exclude astropy_helpers/.gitignore

global-exclude *.pyc *.o
