name: rc-testing

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:

          - name: RC test on Linux with remote data
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-predeps
            toxposargs: --remote-data

          - name: RC test on OSX
            os: macos-latest
            python: '3.10'
            toxenv: py310-test-predeps

          - name: RC test on Windows
            os: windows-latest
            python: 3.9
            toxenv: py39-test-predeps

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip tox
    - name: Run tests
      run: tox -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
