name: rc-testing

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:

          - name: RC test on Linux with remote data
            os: ubuntu-latest
            python: '3.12'
            toxenv: py312-test-alldeps-predeps
            toxposargs: --remote-data

          - name: RC test on OSX
            os: macos-latest
            python: '3.11'
            toxenv: py311-test-alldeps-predeps

          - name: RC test on Windows
            os: windows-latest
            python: '3.13'
            toxenv: py313-test-alldeps-predeps

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip tox
    - name: Run tests
      run: tox -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
